@media screen and (max-width: 768px) {
    nav {
        padding: 2.5rem 3%;
    }
    .navlinks{
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100vh;
        background-color: var(--light-gray);
        z-index: 50;
        transition: .6s ease-in-out;
    }
    .navlinks ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .navlinks ul li a{
        font-weight: 500;   
    }
    .navicons {
        z-index: 99;
    }
    .navicons .bx-menu{
        display: block;
        z-index: 99;
    }
    .navicons i{
        padding: 0px 10px;
    }
    nav .logo {
        z-index: 99;
    }
    nav .logo img{
        width: 120px;
        z-index: 10;
    }
    .navlinks-active{
        right: 0;
    }
    .banner-title{
        font-size: 3rem;
    }
    .banner-btn{
        padding: .7rem 1rem;
    }
    .banner-arrow i{
        bottom: 10%;
    }


    /* product responsive  */
    .product-card-container{
        grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    }
}

